@media (max-device-width: 375px){
    .bottom-bar{
        background: red;
        width: 500px;
        margin-left: -160px;
        margin-top: 150%;
        position: fixed;
        display: block;
        height: 200px;
    }
    #side-bar{
        display: none;
    }

    #footer{
        display: block;
        position: fixed;
        margin-top: 180%;
        width: 100%;
        margin-left: -146px;
        height: 70px;
        background: red;
    }

    .container{
        max-width: 100px;
        height: 10px;
    }

    .tudo{
        display: none;
    }

    .esqueleto{
        max-width: 305px;
        margin-left: -70px;
    }

    #img-post{
        width: 300px;
        margin-top: 10px;
        margin-left: -10px;
    }


    .conteudo{
        width: 400px;
        max-height: 1000px;
    }
    .hpagei{
        margin-left: 36px;
        margin-top: 10px;
        width: 30px;
    }
}
@media (max-device-width: 400px){
    #footer{
    display: block;
    position: fixed;
    margin-top: 202%;
    width: 100%;
    margin-left: -146px;
    height: 70px;
    background: red;
}
}
@media (max-device-height: 667px) and (max-device-width: 700px){
    .bottom-bar{
        background: red;
        width: 500px;
        margin-left: -160px;
        margin-top: 10%;
        position: fixed;
        display: block;
        height: 200px;
    }
    #side-bar{
        display: none;
    }

    #footer{
        display: block;
        position: fixed;
        margin-top: 100%;
        width: 100%;
        margin-left: -146px;
        height: 70px;
        background: red;
    }

    .container{
        max-width: 100px;
        height: 10px;
    }

    .tudo{
        display: none;
    }

    .esqueleto{
        max-width: 305px;
        margin-left: -70px;
    }

    #img-post{
        width: 300px;
        margin-top: 10px;
        margin-left: -10px;
    }


    .conteudo{
        width: 400px;
        max-height: 1000px;
    }
    .hpagei{
        margin-left: 36px;
        margin-top: 10px;
        width: 30px;
    }
}
@media (max-device-height: 567px){
    #footer{
        display: block;
        position: fixed;
        margin-top: 135%;
        width: 100%;
        margin-left: -146px;
        height: 70px;
        background: red;
    }
}

@media (max-width: 400px){
        #footer{
        display: block;
        position: fixed;
        margin-top: 193%;
        width: 100%;
        margin-left: -146px;
        height: 70px;
        background: red;
    }
}