{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% include 'folders/nav.html' %}
        <div class="col-mt-5">
        <div class="tudo">
        <div class="top">
            <p class="neve">Home</p>
            <div class="pensando">
            <img class="profile-picture" src="{% static 'img/user-32.png' %}" alt="">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div style="margin-left: 10px; margin-top: 10px; color: white;">{{ form | crispy }}</div>
            <div>
            <button class="btnt">Tweet</button>
        </div>
        </form>
        </div>    
        </div>
            </div>
<br><br><br><br>
            {% for post in posts %}
                <div class="esqueleto">
                        <div class="cima">
                            <br>
                            <img style="width: 30px; height: 30px; margin-left: 10px" src="{% static 'img/user-32.png' %}" alt="">
                            <a href="/" style="text-decoration: none; color: white; margin-left: 10px;" class="name">@{{ post.author }}</a>
                            <a style="text-decoration: none; color: white; margin-left: -35px; margin-top: 30px;" href="{% url 'post_detail' post.pk %}" class="biooo">{{ post.body }}</a>
                        </div>
                        {% if post.image %}
                        <a href="{% url 'post_detail' post.pk %}"><img style="margin-top: 10px;" id="img-post" src="{{ post.image.url }}" alt=""></a>
                        {% endif %}
                    <div class="likes">
                        <img style="width: 18px; margin-left: 10px; margin-top: 15px;" src="{% static 'img/liked.png' %}" alt="">
                  </div>
                </div>
                {% endfor %}
 
    <div class="col">

    </div>

</div>

</div>
<!-- As a link -->
</div>

{% endblock content %}