{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">

        <style>
            input[type=text]{
                background: black;
                border: 0px;
                outline: none;
            }

            input[type=file]{
                background: black;
                border: 0px;
                color: white;
                outline: none;
            }

            input[type=text]:focus{
                border: 1px solid black;
                background: black;
                
            }


        </style>

        {% include 'folders/nav.html' %}
        <div class="col-mt-5">
        <div class="tudo">
        <div class="top">
            <p class="neve">Home</p>
            <div class="pensando">
            <img class="profile-picture" style="border-radius: 30px;" src="{{ request.user.profile.picture.url }}" alt="">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div style="margin-left: 10px; margin-top: 10px; color: white;">{{ form | crispy }}</div>
            <div style="margin-left: 10px; margin-top: 10px; color: white;">{{ imgform | crispy }}</div>
            <div>
            <button class="btnt">Tweet</button>
        </div>
        </form>
        </div>    
        </div>
            </div>
            <div class="searchBox" style="background: #111;">
                <form action="{% url 'profile_search' %}" method="GET">
                <input style="background: #111" class="searchInput"type="text" name="query" value="{{ request.GET.query }}" placeholder="Search">
                <button class="searchButton">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </form>
            </div>
            <div class="col" id="pc">
                <h4 style="margin-top: 15px; text-align: center; font-weight: bold;">Quem seguir</h4>
                
                <br>
                {% for perfil in profiles %}
                {% if forloop.counter <= 3 %}

                <div class="rec">
                    <img class="ladod" src="{{ perfil.picture.url }}" alt="">
                    
                    <a href="{% url 'profile' perfil.pk %}" class="fdp">@{{ perfil.user }}</a>
                    {% if request.user == perfil.user %}
                    <a href="{% url 'profile' perfil.pk %}" style="margin-left: 210px;" class="userrr"></a>
                    {% endif %}
                    {% if perfil.user in seguindo.following.all %}
                    <form method='POST' action="{% url 'remove_follower' perfil.pk %}">
                        {% csrf_token %}
                    <button style="margin-left: 200px;" class="recb">Unfollow</button>
                    </form>
                    {% else %}
                    <form method='POST' action="{% url 'add_follower' perfil.pk %}">
                        {% csrf_token %}
                    <button style="margin-left: 200px;" class="recb">Follow</button>
                        
                    </form>
                
                    {% endif %}
                    
                    
                </div>
                <br>
                
                {% endif %}
                {% endfor %}
            </div>
<br><br><br><br>
<form action="{% url 'index' %}" method="POST" enctype="multipart/form-data" style="color: white; border-radius: 10px">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="max-width: 600px; background: black; " class="modal-dialog" role="document">
          <div style="background: black; width: 400px;"class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Novo Tweet</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <table>
              {{ form | crispy }}
              </table>
              <input type="submit" value="Tweet" class="btn" style="background: rgb(29, 155, 240); color: white; border-radius: 30px;">
            </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
</form>


            {% for post in posts  %}
                <div class="esqueleto">
                        <div class="cima">
                            <br>
                            {% if post.author.profile.picture.url %}
                            <img style="width: 30px; height: 30px; margin-left: 10px; border-radius: 30px;" src="{{ post.author.profile.picture.url }}" alt="">
                            {% else %}
                            <img style="width: 30px; height: 30px; margin-left: 10px" src="{% static 'img/default.png' %}" alt="">
                            {% endif %}
                            <a href="{% url 'profile' post.author.pk %}" style="text-decoration: none; color: white; margin-left: 10px;" class="name">@{{ post.author }}</a>
                            <a style="text-decoration: none; color: white; margin-left: -35px; margin-top: 30px;" href="{% url 'post_detail' post.pk %}" class="biooo">{{ post.body }}</a>
                        </div>
                        {% if post.image.count == 1 %}
                        {% for i in post.image.all %}
                        <a href="{% url 'post_detail' post.pk %}"><img style="margin-top: 10px;" id="img-post" src="{{ i.image.url }}" alt=""></a>
                        {% endfor %}
                        {% elif post.image.count >= 2 %}
                        {% for i in post.image.all %}
                        <a href="{% url 'post_detail' post.pk %}"><img style="margin-top: 10px;" id="img-post2" src="{{ i.image.url }}" alt=""></a>
                        {% endfor %}
                        {% endif %}
                    <div class="likes">
                        <form method="POST" action="{% url 'add_like' post.pk %}">
                            {% csrf_token %}
                            
                            <button style="background-color: transparent; height: 21px; margin-top: 6px; border: 0px"><img style="width: 18px; margin-left: 0px; margin-top: -8px;" src="{% static 'img/liked.png' %}" alt=""></button>
                            <p style="color: white; font-weight: normal; font-size: 16px; margin-left: 22px; margin-top: -25.5px">{{ post.likes.all.count }}</p>
                    </form>
                    </div>
                </div>
                {% endfor %}
 


</div>

</div>
<!-- As a link -->
</div>
<style>

    #img-post{
        width: 450px;
        height: 250px;
    }

    #img-post2{
        width: 240px;
        height: 140px;
        margin: 0px;
        border-radius: 10px;
    }

    .searchBox {
    position: fixed;
    top: 2%;
    left: 69.7%;
    background: rgb(22, 24, 28);
    height: 50px;
    width: 340px;
    border-radius: 40px;
    padding: 10px;

}

.searchButton {
    color: white;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 11px;
    margin-top: -5px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:center;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    margin-top: -5px;
    width: 240px;
    padding: 0 6px;


}

@media screen and (max-width: 620px) {
.searchBox{

    display: none;
}

}

@media (max-width: 450px){
    #img-post{
        width: 300px;
        height: 150px;
    }

    #img-post2{
        width: 150px;
        height: 120px;
    }
}

</style>

{% endblock content %}